/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*
***Layout ****
*/

#area-cabeçalho {
	background-color:black;
	padding:15px;
	text-align: center;


}

#area-logo,#area-menu{
	padding: 10px;

}

#area-principal{
	width: 920px;
	margin: 0 auto;
	padding: 15px

}
#area-postagem{
	width: 660px;
	float: left;
	background:white;
}
#area-lateral{
	float: right;
	background: white;
}
.postagem{
    padding: 40px;
    margin-bottom: 40px;
	
}
.conteudo-lateral{
	padding: 10px;
	margin-bottom: 20px;
	background: white;

}





a{
	text-decoration: none;  /*  #CD5C5C para retirar o undeline*/
	padding: 10px;  /*espaçamento*/
}

a:link,a:visited {
	color: #4e4e4e; 
}
a:hover{
	color:black;
	background:#FFF;
}
	

h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

h2{
	color: #4e4e4e;
}
h3{
	color: #565656;
	background:#ccc;
    padding: 5px;
}
.branco{
	color: white;
}
 .data-postagem{
 	font-size: 0.8em;
 	border-bottom: 1px solid #f4f4f4;
 	padding-bottom: 10px;
 	margin: 10px;
 	display:block;

 }
